@use "../mixins/icon";
// @use "../mixins/icons-links";

%link {
  a {
    // &:before {
    //   @include icons-links.icon("\e901");
    // }

    // &[target="_blank"]:before {
    //   content: "\e904";
    // }

    @include icon.icon("arrow-right");

    &[target="_blank"] {
      @include icon.icon("arrow-right-up");
    }
  }
}
