%table {
  border-collapse: collapse;
  width: 100%;

  .table__head {
    display: none;
    text-align: left;

    @media (min-width: 1280px) {
      display: table-header-group;
    }

    .table__column {
      border-bottom: 2px solid var(--color-text-lightmode);
      border-top: 1px solid var(--color-text-lightmode);
      font-weight: var(--text-bold);

      @media (prefers-color-scheme: dark) {
        border-bottom-color: var(--color-text-darkmode);
        border-top-color: var(--color-text-darkmode);
      }
    }
  }

  .table__row {
    border: 1px dashed var(--color-text-lightmode);

    @media (prefers-color-scheme: dark) {
      border-color: var(--color-text-darkmode);
    }

    @media (min-width: 1280px) {
      border: 0;
    }
  }

  .table__column {
    display: block;
    padding: var(--spacing-base);

    @media (prefers-color-scheme: dark) {
      border-bottom-color: var(--color-text-darkmode);
    }

    @media (min-width: 1280px) {
      border-bottom: 1px dashed var(--color-text-lightmode);
      display: table-cell;

      @media (prefers-color-scheme: dark) {
        border-bottom: 1px dashed var(--color-text-darkmode);
      }
    }

    &:before {
      content: attr(data-label);
      display: block;
      font-weight: var(--text-bold);
      text-transform: uppercase;

      @media (min-width: 1280px) {
        content: none;
      }
    }

    &--center {
      text-align: center;
    }
  }
}
