%text {
  font-family: var(--font-display);
  font-size: var(--text-base);
  font-weight: var(--text-normal);
  line-height: 1.4;

  p {
    margin-bottom: var(--spacing-base);

    &:last-of-type {
      margin-bottom: 0;
    }

    code {
      background-color: var(--color-stone-300);
      border-radius: 3px;
      padding: 0 3px;

      @media (prefers-color-scheme: dark) {
        color: initial;
      }
    }
  }
}
