@use "../placeholders/container";

.banner {
  @extend %container;
  font-size: var(--font-size-base); // 1.75em
  font-weight: var(--text-bold);
  letter-spacing: 10px;
  padding: calc(var(--spacing-base) * 2) var(--spacing-base) var(--spacing-base);
  text-align: center;
  text-transform: uppercase;

  @media (min-width: 768px) {
    font-size: 2.5em;
    padding: var(--spacing-base);
  }

  &__link {
    text-decoration: none;
  }
}
