@use "../placeholders/container";
@use "../placeholders/line";
@use "../placeholders/link";
@use "../variables/patterns";

.footer {
  &__top {
    @extend %container;
    align-items: center;
    border-top: 1px dashed var(--color-text-lightmode);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (prefers-color-scheme: dark) {
      border-top: 1px dashed var(--color-text-darkmode-muted);
    }

    @media (min-width: 768px) {
      flex-direction: row;
    }
  }

  &__text {
    @extend %link;
    padding: var(--spacing-base) 0;

    @media (min-width: 768px) {
      padding: var(--spacing-large) 0;
    }

    p {
      margin: 0;
    }
  }

  &__list {
    display: flex;
    gap: var(--spacing-base);
    list-style: none;

    &--pages {
      align-items: center;
      flex-direction: column;
      position: relative;

      @media (min-width: 768px) {
        align-items: baseline;
        flex-direction: row;
      }

      &:before {
        @extend %line;
        content: none;
        left: 0;
        margin: calc(calc(var(--spacing-medium) - 2px) * -1) auto 0;
        position: absolute;
        right: 0;

        @media (min-width: 768px) {
          content: "";
        }
      }
    }

    &--icons {
      font-size: 1.5em;
      margin: 0 0 var(--spacing-base) 0;

      @media (min-width: 768px) {
        margin: 0;
      }
    }
  }

  &__link {
    text-decoration: none;

    &--active {
      // color: var(--color-link);
      font-weight: var(--text-bold);
    }

    .footer__badge {
      background-color: var(--color-stone-300);
      border-radius: var(--radius-tiny);
      color: var(--color-stone-700);
      padding: 0 3px;
    }
  }

  &__bottom {
    background-attachment: fixed;
    background-image: var(--pattern-light-japanese2);
    display: flex;
    justify-content: center;
    padding: var(--spacing-medium) 0;

    @media (prefers-color-scheme: dark) {
      background-image: var(--pattern-dark-japanese2);
    }

    @media (min-width: 768px) {
      padding: var(--spacing-larger) 0;
    }

    .footer__link {
      background-color: var(--color-background-lightmode);

      @media (prefers-color-scheme: dark) {
        background-color: var(--color-background-darkmode);
      }
    }
  }
}
