@use "../placeholders/link";

.stoerer {
  @extend %link;
  background-color: var(--color-background-lightmode-muted);
  border-radius: var(--radius-small);
  bottom: 5px;
  display: none;
  font-size: 0.75rem;
  padding: var(--spacing-small);
  position: fixed;
  right: 5px;

  @media (prefers-color-scheme: dark) {
    background-color: var(--color-background-darkmode-muted);
  }

  @media (min-width: 768px) {
    display: block;
  }
}
