@use "../placeholders/block";

.code {
  @extend %block;
  background-color: var(--color-background-lightmode-contrast);
  border-radius: var(--radius-base);
  color: var(--color-yellow-100);
  padding: var(--spacing-base);
  white-space: collapse;

  @media (prefers-color-scheme: dark) {
    background-color: var(--color-background-darkmode-muted);
  }
}
