@use "../mixins/icons-links";
@use "../placeholders/block";
@use "../placeholders/button";

.mailto {
  @extend %block;

  &__heading {
    display: block;
    margin-bottom: var(--spacing-base);
  }

  &__link {
    @extend %button;

    &:before {
      @include icons-links.icon("\e91b");
    }
  }
}
