.icon {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "remix" !important;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: never;
  text-transform: none;
  vertical-align: middle;

  &:before {
    content: "x";
  }
}

.icon__anchor:before {
  content: "\e900";
}
.icon__arrow-right:before {
  content: "\e901";
}
.icon__arrow-right-box:before {
  content: "\e902";
}
.icon__arrow-right-box-black:before {
  content: "\e903";
}
.icon__arrow-right-up:before {
  content: "\e904";
}
.icon__arrow-right-up-box:before {
  content: "\e905";
}
.icon__arrow-right-up-box-black:before {
  content: "\e906";
}
.icon__behance:before {
  content: "\e907";
}
.icon__bluesky:before {
  content: "\e908";
}
.icon__chevron-left:before {
  content: "\e909";
}
.icon__chevron-left-double:before {
  content: "\e90a";
}
.icon__chevron-right:before {
  content: "\e90b";
}
.icon__chevron-right-double:before {
  content: "\e90c";
}
.icon__close:before {
  content: "\e90d";
}
.icon__code:before {
  content: "\e90e";
}
.icon__discord:before {
  content: "\e90f";
}
.icon__download:before {
  content: "\e910";
}
.icon__feed:before {
  content: "\e911";
}
.icon__github:before {
  content: "\e912";
}
.icon__gitlab:before {
  content: "\e913";
}
.icon__hashtag:before {
  content: "\e914";
}
.icon__heart:before {
  color: var(--color-salmon-500);
  content: "\e915";
}
.icon__linkedin:before {
  content: "\e916";
}
.icon__lock-closed:before {
  content: "\e917";
}
.icon__lock-open:before {
  content: "\e918";
}
.icon__login:before {
  content: "\e919";
}
.icon__logout:before {
  content: "\e91a";
}
.icon__mail:before {
  content: "\e91b";
}
.icon__mastodon:before {
  content: "\e91c";
}
.icon__menu:before {
  content: "\e91d";
}
.icon__minus:before {
  content: "\e91e";
}
.icon__paypal:before {
  content: "\e91f";
}
.icon__pinterest:before {
  content: "\e920";
}
.icon__pixelfed:before {
  content: "\e921";
}
.icon__plus:before {
  content: "\e922";
}
.icon__reddit:before {
  content: "\e923";
}
.icon__signal:before {
  content: "\e924";
}
.icon__spotify:before {
  content: "\e925";
}
.icon__steam:before {
  content: "\e926";
}
.icon__xing:before {
  content: "\e927";
}
.icon__youtube:before {
  content: "\e928";
}
