:root {
  --font-display: "Signika";
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;

  --text-extralarge: 3rem;
  --text-large: 1.125rem;
  --text-base: 1rem;
  --text-small: 0.95rem;

  --text-h1: calc(var(--text-base) * 2);
  --text-h2: calc(var(--text-base) * 1.75);
  --text-h3: calc(var(--text-base) * 1.5);
  --text-h4: calc(var(--text-base) * 1);
  --text-h5: calc(var(--text-base) * 1);
  --text-h6: calc(var(--text-base) * 1);

  --text-thin: 300; // Default: 100
  --text-extralight: 300; // Default: 200
  --text-light: 300; // Default: 300
  --text-normal: 300; // Default: 400
  --text-medium: 400; // Default: 500
  --text-semibold: 400; // Default: 600
  --text-bold: 400; // Default: 700
  --text-extrabold: 400; // Default: 800
  --text-black: 400; // Default: 900
}
