@use "../mixins/icons-links";
@use "../placeholders/articles";
@use "../placeholders/button";

.main--portfolio {
  .articles {
    @extend %articles;

    &__button {
      @extend %button;
      margin: var(--spacing-large) 0;

      &:before {
        @include icons-links.icon("\e921");
      }
    }
  }
}
